<custom-select role="select" name="filter.sort_by" id="{{ id }}"  value="">
  <div id="dropdown_overlay" class="absolute top-0 bottom-0 left-0 right-0 bg-secondaryColor opacity-0 z-10 hidden"></div>
    <div id="dropdown_selector" class="{{settings.input_style }} w-full h-full relative inline-block p-0">
      <div class="flex p-2 items-center">
        <label class="flex-1 capitalize">Sort By</label>
        <span>
        {% render 'icon', iconName:'chevron-down', size:'15px', class:'' %}
        </span>
    </div>
    <div id="dropdown" class="absolute border-t border-separatorlineColor w-full bg-white text-textColor shadow-md hidden z-20">
      {% for option in options %}
          <option
            class="p-2 hover:bg-secondaryColor hover:text-primaryColor cursor-pointer"
            value="{{ option.value }}"
            {% if collection.sort_by == option.value %}
              selected="selected"
            {% endif %}
            label="{{ option.name | escape }}"
          >
            {{ option.name | escape }}
          </option>
      {% endfor %}
    </div>
    </div>
</custom-select>