<div id="catagory-list" class="absolute text-textColor z-10 max-w-[72%] transition-opacity duration-300 hidden border-t border-disabled">
  <div class="flex w-full shadow-md">
    <div class="bg-[#ffff] min-w-36">
      {% for link in linklists[catagoryMenu].links %}
        <catagory-link is-target="{{ link.child_current  }}" target-catgory="{{ link.handle }}"  class=" hover:text-secondaryColor transition-all duration-200 hover:bg-backgroundColor flex items-center justify-between gap-2 p-2 relative cursor-pointer">
          <img src="https://placehold.co/30x30" alt="placeholder" width="30" height="30">
          <span class="flex-1">{{ link.title }}</span>
          {% if link.child_current %}
            {%- render 'icon', iconName: 'chevron-right', size: '12px' -%}
          {% endif %}
        </catagory-link>
      {% endfor %}
    </div>
    {% for link in linklists[catagoryMenu].links %}
      
      {% if link.links.size>0 %}
        <div id="child-cat-{{ link.handle }}" class="child-catagory p-4 bg-[#ffff] border-l border-neutralLightColor {% unless forloop.index==1 %}hidden{% endunless %}">
          <div class="flex flex-wrap gap-4 text-sm w-full">
            {% for child_link in link.links %}
              <a href="{{ child_link.url }}">
                <img src="https://placehold.co/500x500" alt="placeholder" width="150" height="150">
                <div class="text-sm">{{ child_link.title }}</div>
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}

    {% endfor %}
  </div>
</div>
