<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <script src="{{ 'password-script.js' | asset_url }}" defer></script>
    {{ content_for_header }}
    <style>
        :root{
          --theme-primaryColor-color: {{settings.primaryColor}};
          --theme-primarylight-color: color-mix(in srgb, var(--theme-primaryColor-color) 90%, white);
          --theme-primarydark-color: color-mix(in srgb, var(--theme-primaryColor-color) 75%, black);
          --theme-secondaryColor-color:{{settings.secondaryColor}};
          --theme-accent-color:{{settings.accent}};
          --theme-disable-color:#9c9a9ace;
          --theme-bg-color:{{settings.bgcolor}};
          --theme-transparent-color:transparent;
          --theme-border-color:{{settings.bordercolor}};
          /*button*/
          --button-text-color:{{settings.btntxt}};
          --button-bg-color:{{settings.btnbg}};
          --button-bglight-color: color-mix(in srgb, var(--button-bg-color) 70%, white);
          --button-bgdark-color: color-mix(in srgb, var(--button-bg-color) 80%, black);
          --buttton-border-color:{{settings.btnborder}};
          /* input */
          --input-text-color:{{settings.inputtxt}};
          --input-bg-color:{{settings.inputbg}};
          --input-border-color:{{settings.inputborder}};
          /* paragraph */
          --tagline-color:{{settings.tagline}};
          --paragraph-color:{{settings.paragraph}};
          /* link */
          --link-color:{{settings.link}};
          --link-dark-color:color-mix(in srgb, var(--link-color) 80%, black);

          --swiper-pagination-color: {{ settings.primaryColor }}
      }
    </style>

  </head>

  <body >
    <div class="flex flex-col h-screen">
      <header>
        {% section 'password-header' %}
      </header>
      <div class=" mb-auto">
        {{ content_for_layout }}
      </div>
      <footer>
        {% section 'password-footer' %}
      </footer>
    </div>
  </body>
</html>
