{% if section.settings.isAnnouncementBar %}
  <section
    class=" bg-secondaryColor text-primaryColor fill-primaryColor {{ section.settings.theme_color }}"
  >
    <div class="layout lg:p-0">
      <div class="flex items-center justify-between">
        <div class="w-1/4 hidden md:flex gap-2">
          <div>
            {%- if section.settings.isContactDetail -%}
              <div class="flex h-full gap-4 items-center justify-start py-2">
                {%- unless section.settings.phoneno == empty -%}
                  <div>
                    <a href="tel:{{section.settings.phoneno}}" target="_blank" class="flex items-center">
                      <i>{%- render 'icon', iconName: 'telephone', size: '1rem', class: 'fill-primaryColor' -%}</i>
                      {%- if section.settings.isText -%}
                        <span class="pl-2 text-primaryColor">{{ section.settings.phoneno }}</span>
                      {%- endif -%}
                    </a>
                  </div>
                {%- endunless -%}
                {%- unless section.settings.gmail == empty -%}
                  <div>
                    <a href="mailto:{{section.settings.gmail}}" target="_blank" class="flex items-center">
                      <i>{%- render 'icon', iconName: 'envelope', size: '1rem', class: 'fill-primaryColor' -%}</i>
                      {%- if section.settings.isText -%}
                        <span class="pl-2 text-primaryColor">{{ section.settings.gmail }}</span>
                      {%- endif -%}
                    </a>
                  </div>
                {%- endunless -%}
              </div>
            {%- endif -%}
          </div>
          <div class="">
            {%- if section.settings.isSocailLinks -%}
              <div class="flex h-full gap-4 items-center justify-start py-2">
                <div class="text-primaryColor">|</div>
                {%- unless section.settings.facebook == empty -%}
                  <a href="{{ section.settings.facebook }}" target="_blank" class="flex items-center">
                    <i>{%- render 'icon', iconName: 'facebook', size: '1rem', class: 'fill-primaryColor' -%}</i>
                  </a>
                {%- endunless -%}
                {%- unless section.settings.instagram == empty -%}
                  <a href="{{ section.settings.instagram }}" target="_blank" class="flex items-center">
                    <i>{%- render 'icon', iconName: 'instagram', size: '1rem', class: 'fill-primaryColor' -%}</i>
                  </a>
                {%- endunless -%}
                {%- unless section.settings.tiktok == empty -%}
                  <a href="{{ section.settings.tiktok }}" target="_blank" class="flex items-center">
                    <i>{%- render 'icon', iconName: 'tiktok', size: '1rem', class: 'fill-primaryColor' -%}</i>
                  </a>
                {%- endunless -%}
                {%- unless section.settings.x == empty -%}
                  <a href="{{ section.settings.x }}" target="_blank" class="flex items-center">
                    <i>{%- render 'icon', iconName: 'x', size: '1rem', class: 'fill-primaryColor' -%}</i>
                  </a>
                {%- endunless -%}
              </div>
            {%- endif -%}
          </div>
          
        </div>
        <div class="w-full md:w-2/4">
          {%- if section.settings.isAnnouncementList -%}
            <announcement-bar class="flex items-center justify-center p-2" time-duration="3000">
              {% for block in section.blocks %}
                <a class="text-center text-primaryColor inline-block {% unless forloop.index0==0 %}hidden{% endunless %}" href="{{ block.settings.url }}" style="{% if section.settings.isOverrideDefualt %}color:{{ section.settings.txtColor }} !important; {% endif %}">
                  {{ block.settings.txt }}
                </a>
              {% endfor %}
            </announcement-bar>
          {%- endif -%}
        </div>
        <div class="w-1/4 hidden md:flex items-center justify-end gap-2">
          {%- if settings.show_country_selector -%}
            {% render 'country-selector', class:'text-primaryColor border-primaryColor bg-[transparent]' %}
          {%- endif -%}
          {%- if settings.show_language_selector -%}
            {% render 'language-selector' class:'text-primaryColor border-primaryColor bg-[transparent]' %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "isAnnouncementBar",
      "label": "Show",
      "default": true
    },
    {
      "type": "header",
      "content": "Announcement list"
    },
    {
      "type": "checkbox",
      "id": "isAnnouncementList",
      "label": "Show",
      "default": true
    },
    {
      "type": "header",
      "content": "Contact Details"
    },
    {
      "type": "checkbox",
      "id": "isContactDetail",
      "label": "Show",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "isText",
      "label": "Show Text",
      "default": false
    },
    {
      "type": "text",
      "id": "phoneno",
      "label": "Phone no"
    },
    {
      "type": "text",
      "id": "gmail",
      "label": "Gmail"
    },
    {
      "type": "header",
      "content": "Social links"
    },
    {
      "type": "checkbox",
      "id": "isSocailLinks",
      "label": "Show",
      "default": true
    },
    {
      "type": "text",
      "id": "facebook",
      "label": "Facebook url"
    },
    {
      "type": "text",
      "id": "instagram",
      "label": "Instagram url"
    },
    {
      "type": "text",
      "id": "tiktok",
      "label": "Tiktok url"
    },
    {
      "type": "text",
      "id": "x",
      "label": "X url"
    },
    {
      "type": "header",
      "content": "Colors Settings"
    },
    {
      "type": "color_scheme",
      "id": "theme_color",
      "label": "Theme Color"
    },
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "txt",
          "label": "Announcement",
          "default": "<p>10% off all products</p>"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Target Url"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {
          "txt": "<p>10% off all products</p>"
        }
      },
      {
        "type": "text",
        "settings": {
          "txt": "<p>Free shipping on all orders</p>"
        }
      }
    ]
  }
}
{% endschema %}
