<section class="{{ section.id }}">
  <div
    class="layout {% unless settings.layout_width=='100%' %}lg:p-0{% endunless %} {% if section.settings.isFullWidth %}lg:w-full{% endif %}"
    style="background-color:{{ section.settings.bg_color }} !important;"
  >
    {% if section.settings.heading %}
      <div class="section-heading">{{ section.settings.heading }}</div>
    {% endif %}
    {% if section.settings.tagline %}
      <div class="section-tagline">{{ section.settings.tagline }}</div>
    {% endif %}
    <div class="flex flex-wrap md:flex-nowrap justify-between w-full gap-2 p-2 mt-4">
      {%- if blogs[section.settings.blog].articles.size > 0 -%}
        {% for article in blogs[section.settings.blog].articles limit: 4 %}
          <div class="w-full md:w-1/4 bg-[#ffff]">
            {%- if article.image -%}
              <img
                class="w-full"
                src="{{ article.image.src | image_url}}"
                alt="{{ article.image.alt }}"
                width=""
                height=""
              >
            {%- else -%}
              <img
                class="w-full"
                src="https://placehold.co/300x500"
                alt="Placeholder Image"
                width=""
                height=""
              >
            {%- endif -%}
            <div class="p-2 child:mb-2">
              <div class="flex flex-wrap w-full justify-between text-sm text-textColor gap-2 blog-author-date">
                <div>Author: {{ article.author }}</div>
                <div>Published at: {{ article.published_at | date: '%d-%b-%Y' }}</div>
              </div>
              <a
                class="py-1 text-base line-clamp-1 overflow-hidden text-ellipsis blog-title"
                title="{{ article.title }}"
                href="{{ article.url }}"
              >
                {{- article.title | default: 'Article title', allow_false: true }}
              </a>
              <div class="flex justify-between items-center w-full">
                <div class="text-sm text-subtextColor blog-comment">({{ article.comments_count }}) Comments</div>
                <a class="{{ settings.btn_style }} btn" href="{{ article.url }}">
                  {{- section.settings.btn_text }}
                  {%- render 'icon', iconName: 'right-arrow', class: 'inline pr-0', size: '22' -%}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      {%- else -%}
        {% for i in (1..4) %}
          <div class="w-full md:w-1/4 bg-[#ffff]">
            <img
              class="w-full"
              src="https://placehold.co/300x300"
              alt="Placeholder Image"
              width=""
              height=""
            >
            <div class="p-2 child:mb-2">
              <div class="flex flex-wrap w-full justify-between text-sm text-textColor gap-2 blog-author-date">
                <div>Author: ------</div>
                <div>Published at: ------</div>
              </div>
              <a
                class="py-1 text-base line-clamp-1 overflow-hidden text-ellipsis blog-title"
                title=""
                href="{{ routes.root_url }}"
              >
                {{- article.title | default: 'Article title---------', allow_false: true }}
              </a>
              <div class="flex justify-between items-center w-full">
                <div class="text-sm text-subtextColor blog-comment">(0) Comments</div>
                <a class="{{ settings.btn_style }} btn" href="{{ routes.root_url }}">
                  {{ section.settings.btn_text }}
                  {%- render 'icon', iconName: 'right-arrow', class: 'inline pr-0', size: '22' -%}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      {%- endif -%}
    </div>
  </div>
</section>

{%- if section.settings.isDefaultOverride -%}
  <style>
    .{{section.id }} .section-heading {
      color: {{ section.settings.heading_color }};
    }
    .{{section.id }} .section-tagline {
      color: {{ section.settings.tagline_color }};
    }
    .{{section.id }} .blog-title {
      color: {{ section.settings.blog_heading_color }};
    }
    .{{section.id }} .blog-author-date {
      color: {{ section.settings.blog_author_date_color }};
    }
    .{{section.id }} .blog-comment {
      color: {{ section.settings.blog_comment_color }};
    }
    .{{ section.id }} .btn {
      color: {{ section.settings.btn_color }};
      background-color: {{ section.settings.btn_bg_color }};
      border-color: {{ section.settings.btn_border_color }};
    }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog",
      "info": "Select the blog from which you want to display articles."
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Latest Articles"
    },
    {
      "type": "text",
      "id": "tagline",
      "label": "Tag line",
      "default": "Latest articles and updates"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Read"
    },
    {
      "type": "header",
      "content": "Section Settings & Styling"
    },
    {
      "type": "checkbox",
      "id": "isFullWidth",
      "label": "Full Width",
      "default": false,
      "info": "This option work on large screen only"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "header",
      "content": "Override Theme Colors"
    },
    {
      "type": "checkbox",
      "id": "isDefaultOverride",
      "label": "Enable",
      "default": false,
      "info": "Enable this option to override the theme colors."
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Title Color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "tagline_color",
      "label": "Tagline Color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "blog_author_date_color",
      "label": "Blog Author/Date Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "blog_heading_color",
      "label": "Blog Title Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "blog_comment_color",
      "label": "Blog Comment Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "btn_color",
      "label": "Button Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Button Background Color",
      "default": "#333"
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "label": "Button Border Color",
      "default": "#333"
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "settings": {}
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["footer","header"]
  }
}
{% endschema %}
