<section class="{{ section.id }}">
  <div class="layout bg-backgroundColor {% unless settings.layout_width=='100%' %}p-0{% endunless %} {% if section.settings.isFullWidth %}lg:w-full{% endif %} {% if section.settings.isOverrideDefualt %}{{section.settings.theme_color}}{% else %}{{settings.default_color_scheme}}{% endif -%}">
    <slider-handler sm="6" md="8" lg="10" class="relative">
      {%- if section.settings.showarrows -%}
        <div class="button-next hidden md:flex cursor-pointer absolute top-0 bottom-0 bg-secondaryColor opacity-50 p-2 right-0 z-10 fill-primaryColor text-primaryColor items-center justify-center">
          {%- render 'icon', iconName: 'chevron-right', size: '20px' -%}
        </div>
        <div class="button-prev hidden md:flex cursor-pointer absolute top-0 bottom-0 bg-secondaryColor opacity-50 p-2 left-0 z-10 fill-primaryColor text-primaryColor  items-center justify-center">
          {%- render 'icon', iconName: 'chevron-left', size: '20px' -%}
        </div>
      {%- endif -%}
      <swiper-container
        class="catagory-swiper relative md:mx-8"
        style="--swiper-navigation-color: var(--theme-primary-color); --swiper-pagination-color: var(--theme-primary-color);"
        slides-per-view="8"
        loop="{{ section.settings.slide_loop }}"
        {% comment %}
          {%- if section.settings.slide_autoplay -%}
            autoplay-delay="{{section.settings.slide_autoplaytime}}"
            autoplay-disable-on-interaction="true"
          {%- endif -%}
        {% endcomment %}
      >
        {%- for block in section.blocks -%}
          <swiper-slide class="h-auto p-2 min-w-min w-full">
            <div class="flex gap-2 items-center flex-col md:flex-row justify-center">
              <div class="flex-shrink-0">
                {%- if block.settings.cat_img -%}
                  <div class="flex items-center justify-center {{ section.settings.image_size }} {% if section.settings.isRoundedImage %} rounded-full {% endif %} overflow-hidden">
                    <a href="{{ block.settings.cat_link }}">
                      <img
                        src="{{ block.settings.cat_img | image_url }}"
                        class=""
                        width=""
                        height=""
                        alt="Catagory Image"
                      >
                    </a>
                  </div>
                {%- else -%}
                  <div class="flex items-center justify-center {{ section.settings.image_size }} {% if section.settings.isRoundedImage %} rounded-full {% endif %} overflow-hidden">
                    <a href="">
                      <img
                        src="https://placehold.co/100"
                        class=""
                        width=""
                        height=""
                        alt="Img placeholder"
                      >
                    </a>
                  </div>
                {%- endif -%}
              </div>
              {%- if section.settings.is_show_label -%}
                <div class="">
                  <a
                    href="{{ block.settings.cat_link }}"
                    class=" md:font-semibold text-textColor capitalize text-xs text-center md:text-base"
                    style="{% if section.settings.isDefaultOverride %}color:{{ section.settings.label_color }} !important;{% endif %}"
                  >
                    {{- block.settings.cat_label -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </swiper-slide>
        {%- endfor -%}
      </swiper-container>
    </slider-handler>
  </div>
</section>

{%- if section.settings.showarrows -%}
  <script>
    const swiperEl = document.querySelector('.catagory-swiper');
    const nextButton = document.querySelector('.button-next');
    const prevButton = document.querySelector('.button-prev');
    nextButton.addEventListener('click', () => {
      swiperEl.swiper.slideNext();
    });
    prevButton.addEventListener('click', () => {
      swiperEl.swiper.slidePrev();
    });
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Catagory Group",
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "checkbox",
      "id": "isFullWidth",
      "label": "Full Width",
      "default": false,
      "info": "This option work on large screen only"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "showarrows",
      "label": "Show Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slide_loop",
      "label": "Loop Slide",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slide_autoplay",
      "label": "Auto Move Slide",
      "default": true
    },
    {
      "type": "range",
      "id": "slide_autoplaytime",
      "min": 2000,
      "max": 9000,
      "step": 1000,
      "unit": "ms",
      "label": "Auto Move Time",
      "default": 3000
    },
    {
      "type": "header",
      "content": "Label Settings"
    },
    {
      "type": "checkbox",
      "id": "is_show_label",
      "label": "Show",
      "default": true
    },
    {
      "type": "header",
      "content": "Image Settings"
    },
    {
      "type": "checkbox",
      "id": "isRoundedImage",
      "label": "Rounded",
      "default": true
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "w-[50px] h-[50px] md:w-[75px] md:h-[75px]",
          "label": "Small"
        },
        {
          "value": "w-[75px] h-[75px] md:w-[100px] md:h-[100px]",
          "label": "Medium"
        },
        {
          "value": "w-[100px] h-[100px] md:w-[125px] md:h-[125px]",
          "label": "Large"
        }
      ],
      "default": "w-[50px] h-[50px] md:w-[75px] md:h-[75px]"
    },
    {
      "type": "header",
      "content": "Color Settings"
    },
    {
      "type": "checkbox",
      "id": "isOverrideDefualt",
      "label": "Override Default Color",
      "default": false,
      "info": "If checked, the color settings below will override the default theme colors."
    },
    {
      "type": "color_scheme",
      "id": "theme_color",
      "label": "Theme Color",
      "info": "You can change theme color in [theme settings](/editor?context=theme&category=Color%20Schemes)"
    }
  ],
  "blocks": [
    {
      "name": "Catagory",
      "type": "catagory",
      "settings": [
        {
          "type": "image_picker",
          "id": "cat_img",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "cat_label",
          "label": "Label",
          "default": "Label"
        },
        {
          "type": "url",
          "id": "cat_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Catagory Group",
      "blocks": [
        {
          "type": "catagory",
          "settings": {
            "cat_label": "Cloths"
          }
        },
        {
          "type": "catagory",
          "settings": {
            "cat_label": "Shoes"
          }
        },
        {
          "type": "catagory",
          "settings": {
            "cat_label": "Watches"
          }
        },
        {
          "type": "catagory",
          "settings": {
            "cat_label": "Jewelry"
          }
        },
        {
          "type": "catagory",
          "settings": {
            "cat_label": "Bags"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["footer", "header"]
  }
}
{% endschema %}
