<section class="{{ section.id }} {%- if section.settings.theme_color!=settings.default_color_scheme -%}{{section.settings.theme_color}}{%- else -%}{{settings.default_color_scheme}}{%- endif -%}">
  <div class="layout {% if section.settings.isFullWidth %}lg:w-full{% endif %} bg-backgroundColor">
    {% if section.settings.heading %}
      <div class="section-heading">{{ section.settings.heading }}</div>
    {% endif %}
    {% if section.settings.tagline %}
      <div class="section-tagline">{{ section.settings.tagline }}</div>
    {% endif %}
    <div class="flex flex-wrap md:flex-nowrap mt-8 {% if section.settings.isgap %}gap-2{% endif %}">
      {%- for block in section.blocks -%}
        {%- assign collection = collections[block.settings.coll] -%}
        {%- render 'collection-card', collection: collection, class: 'w-full md:w-1/4' -%}
      {%- endfor -%}
    </div>
    {% if section.settings.enable_viewmore_btn %}
      <br>
      <a
        href="{{ routes.collections_url }}"
        class="{{ settings.btn_style }} block sm:w-1/2 md:w-1/6 mx-auto text-center btn"
      >
        {{- section.settings.button_text -}}
      </a>
      <br>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Collecitons",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured Collections"
    },
    {
      "type": "textarea",
      "id": "tagline",
      "label": "Tag line",
      "default": "Tag line text here"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "View"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "View More"
    },
    {
      "type": "header",
      "content": "Section Settings & Styling"
    },
    {
      "type": "checkbox",
      "id": "enable_viewmore_btn",
      "label": "Enable View More Button",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "isgap",
      "label": "Show gap",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "isFullWidth",
      "label": "Full Width",
      "default": false,
      "info": "This option work on large screen only"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "coll",
          "label": "Collection"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Featured Colleciton",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["footer", "header"]
  }
}
{% endschema %}
