

<section class="{{ section.id }}">
  <div class="layout {{ section.settings.color_scheme }}{% if section.settings.isFullWidth %}lg:w-full{% endif %} bg-backgroundColor">
    {% if section.settings.heading %}
      <div class="section-heading">{{ section.settings.heading }}</div>
    {% endif %}
    {% if section.settings.tagline %}
      <div class="section-tagline">{{ section.settings.tagline }}</div>
    {% endif %}
    <product-slider>
      <swiper-container
        class=" product-slider py-3 w-full ml-0 mr-0"
        space-between="5"
        slides-per-view="6"
        free-mode="false"
        watch-slides-progress="false"
        auto-height="true"
        {%- if section.settings.slide_dot -%}
          pagination="{{section.settings.slide_dot}}"
          pagination-clickable="true"
        {%- endif -%}
        {%- if section.settings.slide_autoplay -%}
          autoplay-delay="{{section.settings.slide_autoplaytime}}"
          autoplay-disable-on-interaction="false"
        {%- endif -%}
      >
        {% if section.settings.featured-product != nil %}
          {%- for product in collections[section.settings.featured-product].products %}
            <swiper-slide class="flex h-auto pb-8">
              {%- render 'product-card', product: product, class: 'mb-6 mx-auto' -%}
            </swiper-slide>
          {%- endfor -%}
          {% else %}
          {%- for product in (1..10) %}
            <swiper-slide class="flex h-auto pb-8">
              {%- render 'product-card', product: false, class: 'mb-6 w-full' -%}
            </swiper-slide>
          {%- endfor -%}
        {% endif %}
      </swiper-container>
    </product-slider>
  </div>
</section>


{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "featured-product",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default":"Featured Products"
    },
    {
      "type": "textarea",
      "id": "tagline",    
      "label": "Tag Line",
      "default": "Tag line text here"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "slide_dot",
      "label": "Show Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slide_autoplay",
      "label": "Auto Move Slide",
      "default": false
    },
    {
      "type": "text",
      "id": "slide_autoplaytime",
      "label": "Slide Move Time",
      "default": "3000",
      "placeholder": "3000"
    },
    {
      "type": "header",
      "content": "Section Settings & Styling"
    },
    {
      "type": "checkbox",
      "id": "isFullWidth",
      "label": "Full Width",
      "default": false,
      "info": "This option work on large screen only"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["footer","header"]
  }
}
{% endschema %}
