<section>
  <div class="layout">
    {% if section.settings.heading %}
      <div class="section-heading">{{ section.settings.heading }}</div>
    {% endif %}
    {% if section.settings.tagline %}
      <div class="section-tagline">{{ section.settings.tagline }}</div>
    {% endif %}
    <div class="grid {{ section.settings.col_length }} {{ section.settings.row_length }} {% if section.settings.isgap %}gap-2{% endif %} mt-8">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'grid_span' %}
            <a
              href="{{block.settings.url }}"
              class="{{ block.settings.row_col_span }} {{ block.settings.row_col_start }} bg-disabled border min-w-14 min-h-14"
            >
              {% if block.settings.img_row %}
                <img
                  src="{{ block.settings.img_row | image_url }}"
                  class="w-full h-full {{ block.settings.img_fit }} {{ block.settings.img_position }}"
                  width=""
                  height=""
                  alt=""
                >
              {% endif %}
            </a>
          {% else %}

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image Grid",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Grid Heading"
    },
    {
      "type": "text",
      "id": "tagline",
      "label": "Tag line",
      "placeholder": "Some text here"
    },
    {
      "type": "select",
      "id": "row_length",
      "label": "Rows",
      "options": [
        {
          "value": "grid_rows",
          "label": "1 row"
        },
        {
          "value": "grid-rows-2",
          "label": "2 row"
        },
        {
          "value": "grid-rows-3",
          "label": "3 row"
        },
        {
          "value": "grid-rows-4",
          "label": "4 row"
        },
        {
          "value": "grid-rows-5",
          "label": "5 row"
        },
        {
          "value": "grid-rows-6",
          "label": "6 row"
        }
      ],
      "default": "grid-rows-3"
    },
    {
      "type": "select",
      "id": "col_length",
      "label": "Colmuns",
      "options": [
        {
          "value": "grid_cols",
          "label": "1 column"
        },
        {
          "value": "grid-cols-2",
          "label": "2 column"
        },
        {
          "value": "grid-cols-3",
          "label": "3 column"
        },
        {
          "value": "grid-cols-4",
          "label": "4 column"
        },
        {
          "value": "grid-cols-5",
          "label": "5 column"
        },
        {
          "value": "grid-cols-6",
          "label": "6 column"
        }
      ],
      "default": "grid-cols-5"
    },
    {
      "type": "checkbox",
      "id": "isgap",
      "label": "Show Gap",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Grid Row Behaviour",
      "type": "grid_span",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_row",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "select",
          "id": "row_col_span",
          "label": "Row/column Span",
          "options": [
            {
              "value": "row_span",
              "label": "1/6 row"
            },
            {
              "value": "row-span-2",
              "label": "2/6 row"
            },
            {
              "value": "row-span-3",
              "label": "3/6 row"
            },
            {
              "value": "row-span-4",
              "label": "4/6 row"
            },
            {
              "value": "row-span-5",
              "label": "5/6 row"
            },
            {
              "value": "row-span-6",
              "label": "6/6 row"
            },
            {
              "value": "col-span-1",
              "label": "1/6 column"
            },
            {
              "value": "col-span-2",
              "label": "2/6 column"
            },
            {
              "value": "col-span-3",
              "label": "3/6 column"
            },
            {
              "value": "col-span-4",
              "label": "4/6 column"
            },
            {
              "value": "col-span-5",
              "label": "5/6 column"
            },
            {
              "value": "col-span-6",
              "label": "6/6 column"
            }
          ],
          "default": "row_span"
        },
        {
          "type": "select",
          "id": "row_col_start",
          "label": "Row/Column Start",
          "options": [
            {
              "value": "row_start",
              "label": "1/6 row start"
            },
            {
              "value": "row-start-2",
              "label": "2/6 row start"
            },
            {
              "value": "row-start-3",
              "label": "3/6 row start"
            },
            {
              "value": "row-start-4",
              "label": "4/6 row start"
            },
            {
              "value": "row-start-5",
              "label": "5/6 row start"
            },
            {
              "value": "row-start-6",
              "label": "6/6 row start"
            },
            {
              "value": "col_start",
              "label": "1/6 column start"
            },
            {
              "value": "col-start-2",
              "label": "2/6 column start"
            },
            {
              "value": "col-start-3",
              "label": "3/6 column start"
            },
            {
              "value": "col-start-4",
              "label": "4/6 column start"
            },
            {
              "value": "col-start-5",
              "label": "5/6 column start"
            },
            {
              "value": "col-start-6",
              "label": "6/6 column start"
            }
          ],
          "default": "row_start"
        },
        {
          "type": "select",
          "id": "img_fit",
          "label": "Image Fit",
          "options": [
            {
              "value": "none",
              "label": "Default"
            },
            {
              "value": "object-cover",
              "label": "Cover"
            },
            {
              "value": "object-contain",
              "label": "Contain"
            },
            {
              "value": "object-fill",
              "label": "Fill"
            },
            {
              "value": "object-scale-down",
              "label": "Scale down"
            }
          ],
          "default": "none"
        },
        {
          "type": "select",
          "id": "img_position",
          "label": "Image Positon",
          "options": [
            {
              "value": "none",
              "label": "Default"
            },
            {
              "value": "object-top",
              "label": "Top"
            },
            {
              "value": "object-bottom",
              "label": "Bottom"
            },
            {
              "value": "object-left",
              "label": "Left"
            },
            {
              "value": "object-right",
              "label": "Right"
            },
            {
              "value": "object-center",
              "label": "Center"
            },
            {
              "value": "object-left-bottom",
              "label": "Left Bottom"
            },
            {
              "value": "object-left-top",
              "label": "Left Top"
            },
            {
              "value": "object-right-bottom",
              "label": "Right Bottom"
            },
            {
              "value": "object-right-top",
              "label": "Right Top"
            }
          ],
          "default": "none"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Grid",
      "settings": {
        "row_length": "grid-rows-3",
        "col_length": "grid-cols-3"
      },
      "blocks": [
        {
          "type": "grid_span"
        },
        {
          "type": "grid_span"
        },
        {
          "type": "grid_span",
          "settings": {
            "row_col_span": "row-span-2"
          }
        },
        {
          "type": "grid_span",
          "settings": {
            "row_col_span": "col-span-2"
          }
        },
        {
          "type": "grid_span"
        },
        {
          "type": "grid_span",
          "settings": {
            "row_col_span": "col-span-2"
          }
        }
      ]
    }
  ]
}
{% endschema %}
