<section class="{{ section.id }} {% if section.settings.isOverrideDefualt %}{{section.settings.theme_color}}{% else %}{{settings.default_color_scheme}}{% endif -%}">
  <div
    class="layout py-2 {% if section.settings.isFullWidth %}lg:w-full{% endif %} bg-backgroundColor"
  >
    <div class="flex flex-wrap text-sm">
      <div class="w-full">
        <ul class="product-grid-filter flex {{ section.settings.tag_alignment }} gap-3 overflow-hidden overflow-x-auto py-1 scroll-none">
          {%- for block in section.blocks -%}
            <label>
              <input
                type="radio"
                {% unless forloop.index != 1 %}
                  checked
                {% endunless %}
                class="hidden"
                name="filter-producttype"
                value="{{ collections[block.settings.collection].title | handleize  }}"
              >
              {%- if section.settings.tag_style == 'underline' -%}
                <span class="underline_style inline-block cursor-pointer py-1 mx-1.5 text-textColor font-semibold whitespace-nowrap capitalize {% if section.settings.isDefaultOverride %}underline_revert{% endif %}">
                  {% if block.settings.collection == null -%}
                    Collection title
                  {%- else %}
                    {{- collections[block.settings.collection].title -}}
                  {% endif %}
                </span>
              {%- else -%}
                <span class="filter_active {{ settings.btn_style }} inline-block cursor-pointer p-1 px-1.5 text-subtextColor bg-[#f0efef] border-none whitespace-nowrap capitalize {% if section.settings.isDefaultOverride %}btn-revert{% endif %}">
                  {% if block.settings.collection == null -%}
                    Collection title
                  {%- else %}
                    {{- collections[block.settings.collection].title -}}
                  {% endif %}
                </span>
              {%- endif -%}
            </label>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <product-grid>
      {%- for block in section.blocks -%}
        <div
          class="grid-container {% unless forloop.first %}hidden{% endunless %}"
          id="grid-{{ collections[block.settings.collection].title | handleize }}"
        >
          
            <div class="flex flex-wrap md:flex-nowrap justify-around gap-2 mt-2 sm:p-1 md:p-0">
              {%- assign products = collections[block.settings.collection].products -%}
              {% if block.settings.collection != null %}
                {%- for product in products limit: 6 offset: 0 -%}
                  {%- render 'product-card', product: product, class: 'product-card w-[48%] lg:w-1/6' -%}
                {%- endfor -%}
              {% else %}
                {%- for i in (1..6) -%}
                  {%- render 'product-card', product: false, class: 'product-card w-[48%] lg:w-1/6' -%}
                {%- endfor -%}
              {% endif %}
            </div>
          
          {%- if section.settings.product_limit > 6 -%}
            <div class="flex flex-wrap md:flex-nowrap justify-around gap-2 mt-2 sm:p-1 md:p-0">
              {%- assign products = collections[block.settings.collection].products -%}
              {% if block.settings.collection != null %}
                {%- for product in products limit: 6 offset: 6 -%}
                  {%- render 'product-card', product: product, class: 'product-card w-[48%] lg:w-1/6' -%}
                {%- endfor -%}
              {% else %}
                {%- for i in (1..6) -%}
                  {%- render 'product-card', product: false, class: 'product-card w-[48%] lg:w-1/6' -%}
                {%- endfor -%}
              {% endif %}
            </div>
          {%- endif -%}
          {%- if section.settings.product_limit > 12 -%}
            <div class="flex flex-wrap md:flex-nowrap mt-2 sm:p-1 md:p-0">
              {%- assign products = collections[block.settings.collection].products -%}
              {% if block.settings.collection != null %}
                {%- for product in products limit: 6 offset: 12 -%}
                  {%- render 'product-card', product: product, class: 'product-card w-1/2 lg:w-1/6' -%}
                {%- endfor -%}
              {% else %}
                {%- for i in (1..6) -%}
                  {%- render 'product-card', product: false, class: 'product-card w-1/2 lg:w-1/6' -%}
                {%- endfor -%}
              {% endif %}
            </div>
          {%- endif -%}

          <br>
          <a
            href="{{ collections.all.url }}"
            class="{{ settings.btn_style }} block sm:w-1/2 md:w-1/6 mx-auto text-center {% if section.settings.isDefaultOverride %}btn{% endif %}"
          >
            {{- section.settings.btn_text -}}
          </a>
        </div>
      {%- endfor -%}
    </product-grid>
  </div>
</section>



{% schema %}
{
  "name": "Products Grid",
  "settings": [
    {
      "type": "range",
      "id": "product_limit",
      "min": 6,
      "max": 18,
      "step": 6,
      "label": "Products Show",
      "default": 6
    },
    {
      "type": "select",
      "id": "tag_style",
      "label": "Tag Style",
      "options": [
        {
          "value": "btn",
          "label": "Button"
        },
        {
          "value": "underline",
          "label": "Underline"
        }
      ],
      "default": "btn",
      "info": "Select the style of the tags used for filtering products."
    },
    {
      "type": "select",
      "id": "tag_alignment",
      "label": "Tag Alignment",
      "options": [
        {
          "value": "justify-start",
          "label": "Left"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-start flex-row-reverse",
          "label": "Right"
        }
      ],
      "default": "justify-start",
      "info": "Select the alignment of the tags used for filtering products."
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "View More"
    },
    {
      "type": "header",
      "content": "Section Settings & Styling"
    },
    {
      "type": "checkbox",
      "id": "isFullWidth",
      "label": "Full Width",
      "default": false,
      "info": "This option work on large screen only"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "checkbox",
      "id": "isOverrideDefualt",
      "label": "Override Default Theme",
      "default": false,
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme"
    },
  ],
  "blocks": [
    {
      "name": "collection",
      "type": "product-group",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Products Grid",
      "settings": {},
      "blocks": [
        {
          "type": "product-group"
        },
        {
          "type": "product-group"
        },
        {
          "type": "product-group"
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": ["password"],
    "groups": ["footer","header"]
  }
}
{% endschema %}
