<quick-view-data class="flex product flex-wrap">
  <div class="w-full md:w-[50%] overflow-hidden relative">
    {%- render 'product-image-slider', product: product, showthumb: false -%}
  </div>
  <div id="addToCartForm" class="w-full md:w-[50%] px-0 md:px-4 relative flex flex-col">
    <input class="hidden" value="{{ product.selected_or_first_available_variant.id }}" type="text" name="id">
    {% comment %} product render {% endcomment %}

    <div class="text-2xl text-textColor mt-2 text-ellipsis-2">{{ product.title }}</div>

    <div class="text-textColor uppercase mt-2 font-semibold">
      <span>Price :</span>
      <span class="product-price">{{ product.price | money_without_currency | remove: ',' }} </span>
      <span>{{ cart.currency.iso_code }}</span>
      {%- if product.price < product.compare_at_price -%}
        <del class=" text-subtextColor pl-2">
          {{- product.compare_at_price | money_without_currency | remove: ',' }}
          <span>{{ cart.currency.iso_code }}</span></del
        >
      {%- endif -%}
    </div>

    <div class="mt-2">
      <div>
        <star-rating
          rating="{{product.metafields.rating.product_rating.value }}"
          color="fill-acentColor"
        ></star-rating>
        {%- if product.metafields.rating['rating_count-'] %}
          <span class="pr-1 text-sm font-semibold"> ({{ product.metafields.rating.rating_count.value }}) Reviews</span>
        {%- else -%}
          <span class="pr-1 text-sm font-semibold"> (0) Reviews</span>
        {%- endif -%}
      </div>
    </div>

    <variant-selector
      variants="{{ product.variants | json }}"
      productHandle="{{product.handle}}"
      optionSize="{{ product.options.size }}"
      type="{{block.settings.variant_type }}"
    >
      {%- for option in product.options_with_values -%}
        <div class="mt-2">
          <div class="uppercase text-sm font-semibold">{{ option.name }}</div>
          <select
            class="p-2 w-full bg-[#ffff] focus:outline-none {{settings.input_style }}"
            name="option{{forloop.index}}"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}
              >
                {{- value -}}
              </option>
            {%- endfor -%}
          </select>
        </div>
      {%- endfor -%}
    </variant-selector>

    <div class="mt-2">
      <div class="uppercase text-sm font-semibold">Quantitiy</div>
      <quantity-selector max="" class="select-none flex w-[140px] items-center {{settings.input_style }} p-0">
        {%- render 'icon', iconName: 'minus', class: 'minus fill-textColor w-[5rem] p-1' -%}
        <input
          type="number"
          name="quantity"
          min="1"
          max="10"
          class="appearance-none text-center w-full p-2 focus:outline-none"
          id=""
          value="1"
        >
        {%- render 'icon', iconName: 'plus', class: 'plus fill-textColor w-[5rem] p-1' -%}
      </quantity-selector>
    </div>
    {% comment %} product render end{% endcomment %}

    <div class="mt-2 md:mt-auto flex flex-wrap flex-col gap-2 md:gap-3">
      <button
        id="viewCart"
        class="hidden w-full md:flex-1 border {{settings.btn_style }} text-textColor bg-[#ffff] hover:bg-[#ffff] hover:text-textColor mt-2 py-3"
      >
        <span>View Cart</span>
      </button>
      <button
        id="addtocartbtn"
        class=" w-full md:flex-1 border {{settings.btn_style }} text-textColor bg-[#ffff] hover:bg-[#ffff] hover:text-textColor mt-2 py-3"
        {%- unless product.available -%}
          disabled
        {%- endunless -%}
      >
        <span id="txt"
          >Add to cart - <span id="txtPrice">{{ product.price | money_without_currency | remove: ',' }}</span>
          <span>{{ cart.currency.iso_code }}</span></span
        >
        {%- render 'icon',
          id: 'spinner',
          iconName: 'spinner',
          class: 'hidden inline text-center text-subtextColor fill-textColor animate-spin',
          size: '20'
        -%}
      </button>

      <button
        id="buyitnowbtn"
        class="w-full md:flex-1 {{settings.btn_style }} mt-2 py-3"
        {%- unless product.available -%}
          disabled
        {%- endunless -%}
      >
        <span id="txt2">Buy it Now</span>
        {%- render 'icon',
          id: 'spinner2',
          iconName: 'spinner',
          class: 'hidden inline text-center text-textColor-dark fill-secondaryColor animate-spin',
          size: '20'
        -%}
      </button>
    </div>
  </div>
</quick-view-data>
